*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: none;
}

html {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}

body {
  background: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}

a {
  /* Places underlines below the descenders */
  text-underline-position: under;

  /* Sets the thickness as a percentage of the font size */
  text-decoration-thickness: 8;
}

:focus:not(:focus-visible) {
  outline: none;
}

.taskbar-container {
  width: 100%;
  height: auto;
  left: 0;
  bottom: 10px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.taskbar {
  width: auto;
  height: 40px;
  bottom: 0;
  background: rgba(29, 29, 29, 0.5);
  backdrop-filter: blur(50px) saturate(50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.taskbar * {
  display: inline-block;
}

.taskbar .apps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.taskbar .apps .tb-icon {
  width: 25px;
  height: 25px;
}

.taskbar .timeDate {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.taskbar .timeDate * {
  margin: 0;
  padding: 0;
  text-align: right;
  color: rgb(255, 255, 255);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
  .taskbar-container {
    animation: tbEnter 0.5s ease-in-out;
  }
}

@keyframes tbEnter {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
